:root {
   --primary-color: #1B1B1B; /* noir pour les textes/titres*/
   --secondary-color: #9400D3; /*Dark violet pour l'Afrique/Tech */
   --accent-color:  #DA9100; /*Orange vif (pour les boutons importants CTA) */
   --bg-color: #E6E6FA; /*Blanc pur pour le fond du site */ 


/*Variantes pour les blocs et contrastes */
--bg-card: #f8f9fa; /*gris clair pour les cartes/blocs */
--text-muted: #666666; /*gris intermédiaire pour les sous-titres */

/*variables de design obligatoires (polices et arrondis) */
--font-titles: 'Segoe UI' , Tahoma, Geneva, Verdana, Sans-serif; /* A remplacer par votre Google Font expressive */
--font-body: Arial, Helvetica, sas-serif;  /* A remplacer par votre Google Font Lisible */
--radius: 8px; /*Arrondi standard pour les boutons et cartes */
--transition-smooth: all 0.3s ease; /*pour l'obligation des transitions fluides*/
}

/*Nettoyage de base (Reset) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sécurité pour que les imges s'adaptent toujours à leur conteneur*/
img{
    max-width: 100%;
    height: auto;
    object-fit: cover; /*permet de couper proprement les photos si besoin*/
}


.hero-image-container {
    max-width: 200px; /*limite la largeur du conteneur de l'image */
    margin: 0 auto;  /*centre le conteneur horizontalement*/
}
body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial,sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-color);
    line-height: 1.6;
}

/*enrobage des section pour éviter que le contenu touche les bords de l'écran*/
.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
}

/*espacement global entre chaque grande section*/
section{
    padding: 80px 0;
}

h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

/*Barre de navigation (flebox 1)*/
header {
    background-color: var(--bg-color);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    /*fixe la navbar tout en du site comme demandé */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.02);
}

.navbar {
    display: flex;
    justify-content: space-between; /*pousse le logo à gauche et le rste à droite*/
    align-items: center; /*aligne verticalement au centre*/
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.logo img {
    height: 40px; /*Ajuster la hauteur de l'image*/
    width: auto;  /*conserve les proportions de l'afrique sans la déformer */
}
#hero {
    /* Chemin vers l'image innove1*/
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/innove1.jpeg');
    /*s'assure que l'image occupe toute la largeur et la hauteur sans se déformer*/
    background-size: cover;
    /*centre l'image pour un meilleur rendu*/
    background-position: center;
    /*empèche la répétion de l'image*/
    background-repeat: no-repeat;
    /*rend la hauteur de la section relative à la hauteur de l'écran 80% de lahauteur de l'écran*/
    height: 80vh;
    /*ajuste le padding pour centre le contenu */
    padding-top: 150px; /*compense le navbar fixe*/
    color: white; /*conserve le texte en blanc*/
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
 }

 /* aligne le petit logo image et le texte juste à coté */
 .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
 }
 .nav-logo, .nav-logo h1 {
    color: #1B1B1B;
    text-decoration: none;
 }
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;  /*espace entre chaque lien de navigation*/
    list-style: none;               
    margin: 0; 
    padding: O;      
}

/* cache le bouton hamburger sur l'écran ordinateur */
.menu-hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

/* mode mobile */
/* style mobile: s'applique uniquement sur les petits écrans */
@media screen and (max-width: 768px) {
    /* forcer le conteneur à s'aligner à gauche et le hamburger à droite */
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }

    /* affichage du bouton hamburger */
    .menu-hamburger {
        display: block;
    }

    /* la liste des liens en menu déroulant cachée */
    .nav-links {
        display: none; /*cache les liens par défaut sur mobile*/
        flex-direction: column; /* empile les liens verticalements */
        position: absolute;
        top: 70px; /*positionne le menu juste en dessous de la navbar */
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        box-shadow: 0 10px 15px rgba(0,0,0,0.05);
        padding: 20px 0;
        text-align: center;
        gap: 20px;
    }


    /* active le menu */
    .nav-links.active {
        display: flex;
    }
    
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
    padding: 5px  10px;
    transition: var(--transition-smooth);
}

/*changement visuel fluide au survol (transition obligatoire)*/
.nav-links a:hover {
    color: var(--secondary-color);
}

.btn-secondary-outline {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn-secondary-outline:hover {
    background-color: #8806CE;
    color: var(--bg-dark-section);
    transform: translateY(-2px);
}

/*bouton mode sombre*/
.theme-btn {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    padding: 8px 16px;
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}


#hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#hero p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 30px;
}
 
/*bouton d'action */
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.btn {
    padding: 12px 28px;
    border-radius: var(--radius);
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition-smooth);
}

.btn-primary {
    background-color: #8806CE;
    color: white;
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 153,0,0.4);
}

/* grille des chiffres clés obligation grid*/
#about-stats{
    background-color: #E6E6FA !important;
    color: #1B1B1B;
    padding: 60px 0;
}
 /*Organise la section avec flexbox pour séparer le texte des chiffres*/
.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap; /*sécurité sur les petits écrans*/
}
/* conteneur de la photo pour limiter se taille */
.about-photo-container {
    flex: 0 0 350px; /*taille fixe pour le conteneur de la photo*/
    text-align: center;
}


/* rendre la photo jolie */
.circular-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgba(255,255,255, 0.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* conteneur du texte et des chiffres à droite */
.about-content {
    flex: 1;
    min-width: 300px;
}

.about-text {
    margin-bottom: 40px;
}

.about-text h2{
    text-align: left !important; /*aligné à gauche*/
    color: #9400D3 !important;
}

.about-text p {
    color: #1B1B1B;
}

.subtitle{
    color: #1B1B1B;
    display: block;
    margin-bottom: 10px;
}

.stats-line-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;/*4 colonnes égales pour 4chiffres*/
    gap: 15px;
}


.stat-inline-item h3 {
    font-size: 2.2rem;
    color: var(--secondary-color);
}

.stat-inline-item p {
    font-size: 0.75rem;
    color: #1B1B1B;
    text-transform: uppercase;
}

/* section pourquoi participer*/

.arguments-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.argument-card {
    background-color: var(--bg-card);
    padding: 20px;
    border-radius: var(--radius);
    border-left: 5px solid var(--secondary-color);
    transition: var(--transition-smooth);
}

.argument-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.argument-card h3 {
    margin: 15px 0 10px 0;
    color: var(--secondary-color)
}

/* section intervenants  */
#speaker-preview{
    background-color: var(--bg-color);
}

.speakers-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    padding: 20px 0;
}

.speaker-card {
    background-color: var(--bg-card);
    border-radius: 16px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    transition: trnsform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(0,0,0,0.03);
}

.speaker-card:hover {
   transform: translateY(-5px); /*légère animation au survol */
   box-shadow: 0 15px 35px rgba(0,0,0,0.1)
}

/* gestion des images d'intervenants pour qu'elle rests proportionnelles */
.speaker-img-container {
    width: 120px;
    height: 120px; 
    margin: 0 auto 20px auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--secondary-color);
    box-shadow: 0 4px 10px rgba(148, 0, 211, 0.2);
}

.speaker-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speaker-card h3 {
    font-size: 1.25rem;
    margin-bottom: 8px;
    color: var(--primary-color);
    font-weight: 700;
}

.speaker-role {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

/* style du pays transformé en petit badge discret  */
.country {
    display: inline-block;
    font-size: 0.8rem;
    font-size: 0.8rem;
    background-color: rgba(148, 0, 211, 0.08);
    color: #9400D3;
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px; 
}

.center-btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-redirect {
    display: inline-block;
    background-color: #9400D3;
    color: #ffffff !important;
    padding: 12px 30px; /* épaisseur du bouton */
    font-size: 0.95rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(148,0,211,0.2);
    transition: all 0.3s ease;
}

.btn-redirect:hover {
    background-color: #7a00b8;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(148, 0, 211, 0.4);

}


/*section sponsors (flexbox 2)*/
#sponsors {
    padding: 60px 0;
    text-align: center;
}

.sponsor-title {
    font-size: 2rem;
    color: #1a1a1a;
    margin-bottom: 50px;
}

.sponsor-tier {
    margin-bottom: 45px;
}

.sponsor-tier h3 {
   font-size: 0.9rem;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-bottom: 20px;
   font-weight: 700;
}

/*gestion des couleur par class css titres */
.gold-tier h3 { color: #d4af37; }
.silver-tier h3 { color: #8a9597; }
.bronze-tier { color: #cd7f32; }

/* gestion des couleurs des icones font awesome */
.gold-tier .sponsor-icon i { color: #d4af37; }
.silver-tier .sponsor-icon i { color: #8a9597; }
.bronze-tier .sponsor-icon i { color: #cd7f32}

/* alignement flexbox des badges */
.sponsor-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* design de chaque partenaires */
.sponsor-item  {
    background-color: var(--bg-color);
    padding: 14px 28px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.04);
    border: 1px solid rgba(0,0,0,0.03);
}

.sponsor-item:hover {
    transform: translateY((-3px));
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    border-color: rgba(148, 0, 211, 0.2);
}

/* hiérarchie des textes */
.gold-tier .sponsor-name { font-size: 1.1erm; font-weight: 600; color: #222; }
.silver-tier .sponsor-name { font-size: 0.95rem; font-weight: 500; color: #444; }
.bronze-tier .sponsor-name { font-size: 0.85rem; color: #666; }

/* alignement parfait de l'icone */
.sponsor-icon {
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
}
/*masquer le menu hamburger sur ordinateur par défaut */
.hamberger-menu {
    display: none;
}

/* fotter (flexbox 3) */
footer{
    background-color: var(--bg-footer, #111827);
    color: white;
    padding: 60px 0 20px 0;
    border-top: 1px solid rgba(255,255,255, 0.05);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-col h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    transition: var(--transition-smooth);
}

.footer-links a:hover {
    color: #ffffff;
    padding-left: 5px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: var(--transition-smooth);
}

.social-icons a:hover {
    color: var(--accent-color);
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back-to-top {
    background: none;
    border: none;
    color: var(--secondary-color);
    font-size: 3rem;
    cursor: pointer;
}

/* page  programme */

/* Hero interne & fil d'ariane */
.hero-interne {
    background: linear-gradient(135deg, #b389f7 0%, #e8dcff 100%);
    padding: 80px 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* aligne le texte à gauche pour laisser l'image s'afficher à droite */
    align-items: flex-start;
    padding-left: 10%;
}

/* Ajustement des textes pour qu'ils restent à gauche */
.hero-interne h1, .hero-interne .breadcrumb {
    text-align: left;
    margin-left: 0;
}

/* chargement des illustractions */


/* 1. sur la page programme  */
#page-programme .hero-interne {
    background-image: url('../images/programmegif.gif'), linear-gradient(135deg, #9659f9 0%, #e8dcff 100%);
    background-repeat: no-repeat;
    background-position: right 10% center;
    background-size: auto 150px;
}

/* 2. sur la page Intervenant  */
#page-intervenants .hero-interne {
    background-image: url('../images/intervenantgif.gif'), linear-gradient(135deg, #9659f9 0%, #e8dcff 100%);
    background-repeat: no-repeat;
    background-position: right 10% center;
    background-size: auto 150px;
}

/* 3. sur la page contact  */
#page-contact .hero-interne {
    background-image: url('../images/contactgif.gif'), linear-gradient(135deg, #9659f9 0%, #e8dcff 100%);
    background-repeat: no-repeat;
    background-position: right 10% center;
    background-size: auto 150px;
}

.hero-interne{
    position: relative;
    overflow: visible !important;
    padding-bottom: 40px;
}

/* création de la vague fluide en bas du héro */
.hero-interne::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 60px;
    

    /* Génnère un courbe de vague fluide parfaite (SVG Inline) */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none' %3E%3Cpath fill='%239659f9' fill-opacity='1' d='M0,224L48,208C96,192,192,160,288,176C384,192,480,256,576,261.3C672,267,768,213,864,202.7C960,192,1056,224,1152,213.3C1248,203,1344,149,1392,122.7L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 10;
    pointer-events: none;
}





/* le fil d'Ariane */
.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
    color: #666666;
}

/* les liens du fil d'Ariane */
.breadcrumb a {
    color: #1e1028;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color:  #6b086b;
    text-decoration: underline;
}

.breadcrumb nav,
.breadcrumb {
    color: #a0a0a0;
    font-weight: 400;
}

/* la page active */
.breadcrumb .active-page {
    color: white;
}

/* Onglet systeme */
.programme-tabs-container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tabs-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 35px;
}
.tabs-buttons .tab-btn {
    padding: 12px 30px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #e3e3e3;
    background: white;
    color: #555555;
    border-radius: 25px; /*forme capsule moderne */
    font-weight: 1rem;
    transition: all 0.3s;
}
.tab-btn.active, .tab-btn:hover {
    background-color: #8806CE;
    color: white;
    border-color: #1B1B1B;
}
/* masquer les onglets inactifs */
.tab-content {
    display: none;
}
/* Afficher uniquement l'onglet qui a la classe .active */
.tab-content.active {
    display: block;
}

/* style tableau */
.program-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.program-table th, .program-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.program-table th {
    background-color: #7a00b8;
    color: white;
}
/* Alternance de couleurs exigée par le sujet  */
.program-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* CSS GRID 2x2 */
.thematiques-section {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.thématiques-grid {
    display: grid;
    /* crée automatiquemenr 2 colonnes égales */
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
    margin-top: 40px;
}

@media (max-width: 768px) {
    .thematiques-grid {
        grid-template-columns: 1fr; /*1 seule colonne sur mobile */
        gap: 20px;
    }
}
.theme-card {
    background: #fdfdfd;
    padding: 35px 30px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0 ,0, 0.04);
    border: 1px solid #f0f0f0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.theme-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}
.theme-icon {
    width:  70px;
    height: 70px;
    margin: 0 auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    background: #B57EDC;
    border-radius: 50%;
}

/* le titre et le texte */
.theme-card h3 {
    font-size: 1.3rem;
    color: #1a1a1a;
    margin-bottom: 12px;
    font-weight: 700;
}

.theme-card p {
    font-size: 0.95rem;
    color: #666666;
    line-height: 1.6;
    margin: 0;
}

/* page Intervenants */

/* filtrage boutons */
.filter-section {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap; /*s'adapte sur mobile */
}
.filter-btn {
    padding: 10px 22px;
    font-size: 0.95rem;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.filter-btn.active, .filter-btn:hover {
    background-color: #7a00b8;
    color: white;
    border-color: #1B1B1B;
}

/* grille d'intervenants responsive */
.intervenants-container {
    max-width: 11000px;
    margin: 40px auto;
    padding: 0 20px;
}
.intervenants-grid {
    display: grid;
    /* règle 3 col PC, 2col Tablette, 1col mobile */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* carte de l'intervenant */
.speaker-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    /* transition fluide pour l'effet de translation */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* ombre plus marquée */
.speaker-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}

.speaker-img-container {
    width: 120px;
    height: 120px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #9400D3;
}
.speaker-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.speaker-card h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
    color: #1B1B1B;
}
.speaker-card .specialty {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 5px;
}
.speaker-card .country {
    font-size: 0.9rem;
    font-weight: bold;
    color: #9400D3;
}

/* responsive grille */
@media (max-width: 992) {
    .intervenants-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur tablette */
    }
}
@media (max-width: 576px) {
    .intervenants-grid {
        grid-template-columns: 1fr; /* 1 colonne sur mobile */
    }
}

/* page contact */

/* Layout 2 COLONNES (flexbox) */

.contact-container {
    display: flex;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    overflow: hidden;
    max-width: 1200px;
    margin: 40px auto;
}

/* colonne gauche (formulaire,image intégrée */
.contact-form-col {
    flex: 1.4;
    padding: 40px 40px 40px 350px;
    position: relative;

    /* injection de l'image de la femme au téléphone  */
    background-image: url('../images/phone3.jpeg');
    background-position: left center;
    background-size: 1000px 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.contact-info-col {
    flex: 0.6;
    padding: 40px;
    background-color: #fafafa; /*fond légèrement grisé pour séparer les infos */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Design du formulaire */

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    font-size: 0.85rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
}

.form-group input,  .form-group select, .form-group textarea {
    width: 70%;
    padding: 10px 18px;
    border: 1px solid #e3e3e3;
    border-radius: 55px;
    background: #E6E6FA;
    font-size: 0.9rem;
    outline: none;
    transition: all 0.3s;
}

/* textarea légèrement moins arrondis pour le texte long */
.form-group textarea {
    border-radius: 15px;
    resize: none;
}


.submit-btn {
    background-color: #8806CE;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background-color: #cd7f32;
}

/* box succès */
.success-box {
    background-color: #E6E6FA;
    color: #8806CE;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
    font-weight: bold;
    text-align: center;
}

/* style de l'iframe Google Maps */
.contacr-info-col ifram {
    border-radius: 12px;
    margin-top: 20px;
}

/* sécurité responsive (si on réduit l'écran)  */
@media (max-width: 992px) {
    .contact-container {
        flex-direction: column;
    }
    .contact-form-col {
        padding: 40px; /*on enlève le grand espace à gauche sur mobile */
        background-image: none; /*on cache l'image sur petit écran pour garder le formulaire lisible */
    }
}



/* FAQ ACCORDEON (CSS pu unique) */
.faq-section {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
}
.faq-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.accordion {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-item:last-child {
    border-bottom: none;
}

/* masquer la case à cocher d'origine */
.accordion-toggle {
    display: none;
}

.accordion-header {
    display: block;;
    padding: 18px;
    background: #8806CE;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.accordion-header::after {
    content: "🔽";
    position: absolute;
    right: 18px;
    transition: transform 0.3s;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: white;
    transition: max-height 0.35s ease-in-out;
}

.accordion-content p {
    padding: 18px;
    margin: 0;
    color: #555;
    line-height: 1.6;
}

/* méthode du sélecteur :checked */
.accordion-toggle:checked ~ .accordion-content {
    max-height: 200px; /*s'ouvre proprement*/
}

.accordion-toggle:checked ~ .accordion-header::after {
    transform: rotate(180deg); /*la flèche pivote */
}
